1.Software & Dependencies
Python 3.8+
Libraries (Install using pip):
pip install streamlit python-docx

2. Tools & Technologies
Frontend: Streamlit
Backend: Python
Word Document Generation: python-docx

3. Running the Project
streamlit run app.py
